@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --black: #181818;
  --black2: #242424;
  --white: #fafafa;
  --green: #58dd94;
  --orange: #fd7e14;
  --pink: #d63384;
  --blue: #0d6efd;
  --yellow: #ffc107;
  --light: #f8f9fa;
  --dark: #dee2e6;
  --teal: #20c997;
  --cyan: #0dcaf0;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --red: #dc3545;
  --lightgreen: #5cb85c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: 'Red Hat Display';
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.head-line {
  display: flex;
  justify-content: center;

  a {
    text-decoration: none;
    color: #181818;
    font-family: 'Dela Gothic One';
    font-size: 5rem;
  }
}

/* 검색 */
button[type='submit'] {
  border: none;
  background-color: transparent;
}

/* 메뉴 */
.menus {
  margin: 1rem 0 1.5rem 0;
  display: flex;
  justify-content: center;

  button {
    border: none;
    background-color: transparent;
    margin: 5px;
    text-transform: capitalize;

    &:hover {
      cursor: pointer;
    }
  }
}

.menus > button.clicked {
  font-weight: 800;
  border-bottom: 2px solid #181818;
}

/* 뉴스 리스트 */
.news-img-size {
  width: 30rem;
  height: 15rem;
}

h2 {
  font-weight: 800;
}

.newsImage {
  display: flex;
  align-items: center;
}

.news {
  padding: 1rem;
  border-bottom: 2px solid #181818;
  margin-bottom: 1rem;
}

/* 페이지네이션 */
.page-item {
  cursor: pointer;
}

section > nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 반응형 */

@media screen and(max-width:768px) {
  .newsImage {
    justify-content: center;
  }
}

@media screen and(max-width:480px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .head-line {
    a {
      font-size: 3rem;
    }
  }
}
