:root {
  --black: #181818;
  --black2: #242424;
  --white: #fafafa;
  --green: #58dd94;
  --orange: #fd7e14;
  --pink: #d63384;
  --blue: #0d6efd;
  --yellow: #ffc107;
  --light: #f8f9fa;
  --dark: #dee2e6;
  --teal: #20c997;
  --cyan: #0dcaf0;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --red: #dc3545;
  --lightgreen: #5cb85c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
